.App {
  text-align: center;
}

body{
  background-color: pink;
}

.main{
  margin-bottom: 40px;
}

.bigger-margin{
  margin-bottom: 20px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: #03017d;
  font-size: 60px;
}

h2{
  color: grey;
  font-size: 40px;
}

p, button{
  font-family: 'Questrial', sans-serif;
}

p{
  font-size: 20px;
}

h1, h2{
  font-family: 'Indie Flower', cursive;
  margin-bottom: 0;
}

.advice{
  padding: 20px 30px;
  background-color: #fff4f2;
  border: #fcc201 3px solid;
  border-radius: 20px;
  width: 50%;
  align-self: center;
  font-size: 26px;
}

.price{
  color: grey;
}

button{
  background-color: #8153a9;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 20px 60px;
  font-size: 30px;
}